<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>用户注册</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <style type="text/css">
        *{
            margin: 0px;
            padding:0px;
        }
        div {
            width: 50%;
            margin: 0 auto;
        }
        body {
            background:url("../img/bg.jpg");
            background-size:100%;
            opacity: 1.5;
        }
    </style>
</head>
<body >
    <audio th:src="@{/music/WhyWouldIEver.mp3}" loop="loop" autoplay="autoplay" controls="controls"></audio>
    <div>
        <form id="form1"  name="form1" method="post" action="regists">
            <p align="center" style="font-size: 32px; color: aqua; font-weight: bolder;">注册用户 </p>
            <div class="form-group">
                <label for="username">用户名：</label>
                <input type="text" class="form-control" placeholder="请输入用户名" name="username" id="username" /><span id="error1"></span>
            </div>
            <div class="form-group">
                <label for="password">密&nbsp;&nbsp;&nbsp;&nbsp;码：</label>
                <input type="password" class="form-control" name="password" id="password" placeholder="请输入密码"/><span id="error2"></span>
            </div>
            <div class="form-group">
                <label for="age">年&nbsp;&nbsp;&nbsp;&nbsp;龄：</label>
                <input type="text" name="age" class="form-control" id="age" placeholder="请输入年龄" oninput="value=value.replace(/[^\d]/g,'')" /><span id="error3"></span>
            </div>
            <div class="form-group">
                <label for="email">邮&nbsp;&nbsp;&nbsp;&nbsp;箱：</label>
                <input type="text" class="form-control" name="email" id="email" placeholder="请输入邮箱" style="float: left" /><input type="button" id="sub" class="btn btn-primary" value="发送验证码"/><span id="error5"></span>
            </div>
            <div class="form-group">
                <label for="date">日&nbsp;&nbsp;&nbsp;&nbsp;期：</label>
                <input type="date" class="form-control" name="date" id="date" /><span id="error6"></span>
            </div>
            <div class="radio">
                <label for="man">性&nbsp;&nbsp;&nbsp;&nbsp;别：</label>
                &nbsp;&nbsp;&nbsp;&nbsp;  <input type="radio" name="sex" id="man" value="男" checked />男
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;   <input type="radio" name="sex" id="woman" value="女" />女
            </div>
            <div class="form-group">
                <label for="checkCode">验&nbsp;证&nbsp;码：</label>
                <input type="text" class="form-control" name="checkCode" id="checkCode" placeholder="请输入验证码" /><span id="error4"></span>
            </div>
            <div>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" class="btn btn-primary" name="sub1" id="sub1" value="注册"  />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;<input type="reset" class="btn btn-secondary" name="reset" id="reset" value="重置" />
            </div>
        </form>
    </div>
</body>
</html>